.member-added-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  outline: 1px solid black;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0.75rem 0.5rem 0;
  position: relative;
  font-size: 0.875rem;
  max-width: 280px;
}

.household-member-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-household-member {
  outline: 3px solid var(--active-border-color);
  box-shadow: 1px 1px 10px rgb(0 0 0 / 0.4);
}

.member-added-relationship {
  color: var(--primary-color);
}

.household-data-sub-header {
  margin-top: 0.5rem;
}

.question-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .member-added-container {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 90%;
  }

  .member-added-relationship {
    display: inline;
    padding-right: 0.5rem;
  }

  .member-added-age {
    display: block;
  }

  .member-added-income {
    display: none;
  }
}
