.multiselect-tiles-container {
  display: flex;
  gap: 1.85rem;
  flex-wrap: wrap;
  margin: 1.5rem auto 0 auto;
  max-width: 50rem;
  justify-content: center;
}

.multi-select-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1rem;
}

.multi-select-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}


.selected-option-card .option-card-lucide-icon * {
  fill: var(--primary-color) !important;
  stroke: white;
}

.selected-option-card.white-icons .multi-select-icon path,
.selected-option-card.white-icons .multi-select-icon rect {
  fill: #ffffff;
  stroke: #ffffff;
}

.white-icons .cls-checkmark-fill {
  fill: #ffffff;
}

.white-icons .cls-checkmark {
  fill: var(--primary-color);
}

@media (max-width: 38.125rem) {
  .multiselect-tiles-container {
    padding: 0;
  }
}
