.option-card.MuiPaper-root {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 0.05px solid #6d6e71;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: 3rem;
  height: 100%;
  width: 100%;
  padding: 0.75rem 0.625rem;
  background-color: #ffffff;
}

.option-card:hover {
  background-color: var(--hover-color);
  color: var(--option-card-hover-font-color);
}

.selected-option-card.MuiPaper-root {
  background-color: var(--primary-color);
}

.option-card-none.MuiButtonBase-root {
  grid-column: 1 / -1;
}

.option-card-none.selected-option-card.MuiPaper-root {
  background-color: var(--primary-color);
}

.option-card-text {
  color: #ffffff;
  text-align: left;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.option-card-icon {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.75rem;
  flex-shrink: 0;
}
.option-card-icon.youth-development-icon {
  height: 7rem;
  width: 7rem;
}

.option-card-icon * {
  fill: var(--icon-color) !important;
  stroke: var(--icon-color) !important;
}

.option-card-lucide-icon {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.75rem;
  flex-shrink: 0;
}

.option-card-lucide-icon.car-icon-scaled {
  transform: scale(1.4);
}

.option-card-lucide-icon.car-icon-scaled path,
.option-card-lucide-icon.car-icon-scaled circle {
  stroke-width: 1.07;
}

.option-card-lucide-icon.shower-icon-scaled {
  transform: scale(1.3);
}

.option-card-lucide-icon.shower-icon-scaled path,
.option-card-lucide-icon.shower-icon-scaled circle {
  stroke-width: 1.07;
}

.option-card-lucide-icon * {
  fill: white !important;
  stroke: var(--icon-color);
}

.checkmark {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  height: 1.75rem;
  width: 1.75rem;
}

.cls-checkmark-fill {
  fill: var(--icon-color);
}

/* This css rule targets the svg class of the milk carton fill */
.food-icon {
  stroke: var(--icon-color);
  stroke-miterlimit: 10;
  stroke-width: 0.313rem;
}

.option-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  align-items: stretch;
}

.two-columns {
  max-width: 32rem;
}

@media (max-width: 38.125rem) {
  div.option-cards-container {
    grid-template-columns: 1fr;
    gap: 0.938rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .card-action-area.MuiButtonBase-root,
  .option-card.MuiPaper-root,
  .selected-option-card.MuiPaper-root {
    width: 100%;
    min-height: 4rem;
  }

  .option-card-image {
    height: 3.5rem;
    width: 3.5rem;
  }

  div.sub-header,
  h2.sub-header,
  .question-label {
    font-size: 1.5rem;
  }

  p.question-label {
    font-size: 1rem;
  }

  .checkmark {
    height: 1.5rem;
    width: 1.5rem;
    margin: -2rem 0.5rem 0.5rem 0;
  }
}
