.energy-calculator-container {
  text-align: center;
  margin: 2rem 0;
  width: 100%;
  padding: 0 2rem;
}

.energy-calculator-container .sub-header {
  margin-top: 1.5rem;
}

.energy-calculator-body-text {
  margin: 2rem 0;
  text-align: center;
}

.center-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

.center-container .option-card {
  aspect-ratio: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-container .option-card-icon {
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
}

.energy-calculator-p-spacing {
  margin-top: 0.5rem;
}
