.ccla-font {
  font-family: 'league-gothic', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.1em;
  word-spacing: 1px;
}

.flex-row {
  max-width: var(--main-max-width);
  margin: 0 auto;
  justify-content: center;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
}

.flex-row-links {
  display: flex;
  flex-direction: row;
}

.footer-paragraph {
  margin-bottom: 1rem;
  text-align: center;
}

.first-paragraph {
  font-style: italic;
  padding-top: 1rem;
}

.second-paragraph {
  padding-bottom: 1rem;
}

.copyright-container {
  justify-content: space-between;
  align-items: center;
}

.MuiTypography-root.privacy-policy-links {
  color: #6b6b6b;
  font-weight: 500;
  font-size: 0.68rem;
  font-family: 'league-gothic', Helvetica, Arial, sans-serif;
}

@media (max-width: 870px) {
  .flex-row,
  .flex-row-links {
    flex-direction: column;
    align-items: center;
  }
}
