.loading-image {
  height: 150px;
  width: 150px;
  animation: rotate-s-loader 1s linear infinite;
  margin-top: 2rem;
  margin-bottom: 8rem;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
