.home-link {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  position: relative;
  gap: 0;
}

.logo {
  max-width: 90%;
  max-height: 60%;
  display: block;
  margin-bottom: -0.25rem;
}

.logo-container:has(.state-name) .logo {
  max-height: 45%;
}

.state-name {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.76rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  white-space: nowrap;
  position: relative;
  left: 18%;
  margin-top: 0;
}

.MuiPaper-root.header-full-width-container {
  width: 100%;
  height: 5rem;
  background-color: var(--primary-color);
}

.MuiPaper-root.header-full-width-container.white-header {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 1;
}

.MuiPaper-root.header-full-width-container.frozen {
  height: 6.5rem;
}

#nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  max-width: var(--main-max-width);
  margin: auto;
  padding: 0 1rem;
  background-color: var(--primary-color);
}

.white-header #nav-container {
  background-color: #ffffff;
}

.icon-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  gap: 0.25rem;
}

@media (max-width: 767px) {
  .icon-wrapper {
    margin-right: 0;
  }
}

.icon-container {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 1rem;
  padding: 0;
  cursor: pointer;
}

#select-language {
  padding: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  #select-language {
    margin-right: 0;
    padding-right: 1.5rem;
  }
}

.white-header #select-language {
  color: #000000;
}

.white-header path {
  fill: #000000;
}

.white-header .state-name {
  color: #000000;
}

.small-header-language-dropdown #select-language {
  font-size: 0.75rem;
}

.small-header-language-dropdown svg {
  width: 1rem;
  height: 1rem;
}

.small-header-language-dropdown .MuiSelect-icon {
  top: 2px !important;
}

#select-language:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.header-frozen-message-container {
  background-color: var(--hover-color);
  text-align: center;
  height: max-content;
  font-weight: bold;
}

.eaglecounty-logo-size {
  display: block;
  max-height: 80%;
  max-width: 90%;
}

.larimercounty-logo-size {
  display: block;
  max-height: 90%;
}

.broomfield-logo-size,
.pitkincounty-logo-size,
.pueblocounty-logo-size,
.tellercounty-logo-size,
.theactioncenter-logo-size {
  display: block;
  max-height: 91%;
  max-width: 95%;
}

.hfed-logo-size {
  display: block;
  max-height: 90%;
}
