.progress-bar-container {
  padding: 1rem;
  max-width: var(--content-max-width);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.progress-bar-wrapper {
  background-color: #ffffff;
  overflow: hidden;
}
