name: Tests & Coverage

on:
  pull_request:
    branches: [ main ]

jobs:
  test-and-upload-coverage:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Node.js and dependencies
        uses: ./.github/actions/setup-node-dependencies

      - name: Run unit tests
        run: npm test -- --coverage --watchAll=false --passWithNoTests

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
